extends layout

block content
  h1= title
    - let lion  = results
  div(class="container-fluid mt-3")
  div(class="row")
    each i ,index in lion  
      div(class="col-sm-4")  #{i.name} - #{i.age} -#{i.breed}
     
  script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }