extends layout

block content
  h1(id="newtitle")= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let lionid = toShow._id
    - let lionname = toShow.name
    - let lionage = toShow.age
    - let lionbreed = toShow.breed

    div
      div.row
        div(class='lionAttr mr-3') lion ID is:
        div(class='newvalues specialstyles') #{lionid}
      div.row
        div(class='lionAttr mr-3') lion name is:
        div(class="newvalues") #{lionname}
      div.row
        div(class='lionAttr mr-3') lion age is:
        div(class="newvalues") #{lionage}
      div.row
        div(class='lionAttr mr-3') lion breed is:
        div(class="newvalues") #{lionbreed}