extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let lionid = toShow._id
    - let lionname = toShow.name
    - let lionage = toShow.age
    - let lionbreed = toShow.breed
    - let actionid = "/resource/lion/" + lionid

    script let actionid = "#{actionid}"
    div
      div.row
        div(class='lionAttr mr-3') lion ID is:
        div(class='newAttr') #{lionid}
      div.row
        div(class='lionAttr mr-3') lion name is:
        div(class='newAttr') #{lionname}
      div.row
        div(class='lionAttr mr-3') lion age is:
        div(class='newAttr') #{lionage}
      div.row
        div(class='lionAttr mr-3') lion breed is:
        div(class='newAttr') #{lionbreed}
      

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the lion collection
      window.location.href='/lion'
    }
  script.
    function deleteOnid() {
      console.log("Deleting the Resource")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/resource/lion'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }